#chart svg rect {
  fill: steelblue;
  padding: 3px;
  margin: 1px;
  text-align: center;
}
#chart svg text {
  font: 10px sans-serif;
  fill: white;
  text-anchor: middle;
}
#chart .nodes g text {
  font: 10px sans-serif;
  fill: black;
  text-anchor: start;
}

